{{ $author:= site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

{{ $sections:= site.Data.sections }}
{{ if (index site.Data site.Language.Lang).sections }}
  {{ $sections = (index site.Data site.Language.Lang).sections }}
{{ end }}

{{ $copyrightYear := now.Format "2006" }}
{{ $copyrightNotice := "© YYYY. All Rights Reserved."}}
{{ $copyright := replace ($copyrightNotice) "YYYY" $copyrightYear }}

<footer class="container-fluid text-center align-content-center footer pb-2">
  <div class="container pt-5">
    <div class="row text-left">
      <div class="col-md-4 col-sm-12">
        <h5>{{ i18n "navigation" }}</h5>
        {{ if $sections }}
        <ul>
          {{- range sort $sections "section.weight" }}
            {{ if and (.section.enable) (.section.showOnNavbar)}}
              {{ $sectionID := replace (lower .section.name) " " "-"  }}
              {{ if .section.id }}
                {{ $sectionID = .section.id }}
              {{ end }}
              <li class="nav-item">
                <a class="smooth-scroll" href="#{{ $sectionID }}">{{ .section.name }}</a>
              </li>
            {{ end }}
          {{- end }}
        </ul>
        {{ end }}

      </div>
      {{ if $author }}
      <div class="col-md-4 col-sm-12">
        <h5>{{ i18n "contact_me" }}</h5>
        <ul>
          {{ range $key,$value:= $author.contactInfo }}
            {{ if eq $key "email" }}
              {{ if $value.handle }}
              <li><span>{{ title $key }}: </span> <span><a target="_blank" onclick="window.location.href = 'mailto:' + ['{{ $value.handle }}','{{ $value.domain }}'].join('@')">{{ $value.handle }} cinnamon roll symbol {{ $value.domain }}</a></span></li>
              {{ else }}
              <li><span>{{ title $key }}: </span> <span>{{ $value }}</span></li>
              {{ end }}
            {{ else if eq $key "phone" }}
              <li><span>{{ title $key }}: </span> <span><a target="_blank" onclick="window.location.href = 'tel:' + '{{ $value }}'.replace(/[^0-9]/g, '')">{{ $value }}</a></span></li>
            {{ else }}
              <li><span>{{ title $key }}: </span> <span>{{ $value }}</span></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ if site.Params.newsletter.enable }}
      <div class="col-md-4 col-sm-12">
        <!-- <h5>Newsletter</h5> -->
        <p>{{ i18n "newsletter_text" }}</p>
        <form>
          <div class="form-group">
            <label id="emailHelp" for="exampleInputEmail1" class="form-text text-muted">{{ i18n "newsletter_warning" }}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ i18n 'newsletter_input_placeholder' }}"/>
          </div>
          <button type="submit" class="btn btn-info">{{ i18n "submit" }}</button>
        </form>
      </div>
      {{ end }}
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row text-left">
      <div class="col-md-4">
        <a id="theme" href="https://github.com/hossainemruz/toha" target="#">
          <img alt="Toha Theme Logo" src="{{ '/assets/images/inverted-logo.png' | relURL }}"/>
          Toha
        </a>
      </div>
      <div class="col-md-4 text-center">
        <ul class="footer-menu">
          <li>
            {{ $copyright }}
          </li>
          {{ range .Site.Menus.footer }}
          <li><a href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-3 text-right">
        <a id="hugo" href="https://gohugo.io/">{{ i18n "hugoAttributionText" }}
        <img alt="Hugo Logo" height="18" src="{{ '/assets/images/hugo-logo-wide.svg' | relURL }}"/>
        </a>
      </div>
    </div>
  </div>
</footer>
