<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="apple-mobile-web-app-title" content="RailsBling">
<meta name="application-name" content="RailsBling">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- ============ import common css ========== -->
<link rel="stylesheet" href="{{ `/css/bootstrap.min.css` }}"/>
<link rel="stylesheet" href="{{ `/css/layouts/main.css` }}"/>
<link rel="stylesheet" href="{{ `/css/style.css` }}"/>
<link rel="stylesheet" href="{{ `/css/navigators/navbar.css` }}"/>

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<!--================= fav-icon =========================-->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.Params.logo.faviconapple }}?v={{ site.Params.logo.version }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.Params.logo.favicon32 }}?v={{ site.Params.logo.version }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.Params.logo.favicon16 }}?v={{ site.Params.logo.version }}">
<link rel="manifest" href="{{ site.Params.logo.manifest }}?v={{ site.Params.logo.version }}">
<link rel="mask-icon" href="{{ site.Params.logo.safaripin }}?v={{ site.Params.logo.version }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ site.Params.logo.favicon }}?v={{ site.Params.logo.version }}">

<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="{{ `/css/syntax.css` }}"/>
