<div id="dl-menu" class="dl-menuwrapper">
  <button class="dl-trigger">Open Menu</button>
  <ul class="dl-menu">
    <li>
      <a href="#">Ruby Projects</a>
      <ul class="dl-submenu">
        <li>
          <a href="#">A to C</a>
          <ul class="dl-submenu">
            <li>
              <a href="{{ .Site.BaseURL }}/tags/activerecord-tablefree">activerecord-tablefree</a>
              <a href="{{ .Site.BaseURL }}/tags/activerecord-transactionable">activerecord-transactionable</a>
              <a href="{{ .Site.BaseURL }}/tags/anonymous_active_record">anonymous_active_record</a>
              <a href="{{ .Site.BaseURL }}/tags/archivist-client">archivist-client</a>
              <a href="{{ .Site.BaseURL }}/tags/celluloid-io-pg-listener">celluloid-io-pg-listener</a>
              <a href="{{ .Site.BaseURL }}/tags/csv_pirate">csv_pirate</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">D to G</a>
          <ul class="dl-submenu">
            <li>
              <a href="{{ .Site.BaseURL }}/tags/debug_logging">debug_logging</a>
              <a href="{{ .Site.BaseURL }}/tags/destination_errors">destination_errors</a>
              <a href="{{ .Site.BaseURL }}/tags/dry_views">dry_views</a>
              <a href="{{ .Site.BaseURL }}/tags/dynamoid">dynamoid</a>
              <a href="{{ .Site.BaseURL }}/tags/each_in_batches">each_in_batches</a>
              <a href="{{ .Site.BaseURL }}/tags/flag_shih_tzu">flag_shih_tzu</a>
              <a href="{{ .Site.BaseURL }}/tags/gem_bench">gem_bench</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">H to R</a>
          <ul class="dl-submenu">
            <li>
              <a href="{{ .Site.BaseURL }}/tags/letter_group">letter_group</a>
              <a href="{{ .Site.BaseURL }}/tags/oauth2">oauth2</a>
              <a href="{{ .Site.BaseURL }}/tags/rails_env_local">rails_env_local</a>
              <a href="{{ .Site.BaseURL }}/tags/require_bench">require_bench</a>
              <a href="{{ .Site.BaseURL }}/tags/resque-unique_at_runtime<">resque-unique_at_runtime</a>
              <a href="{{ .Site.BaseURL }}/tags/resque-unique_by_arity">resque-unique_by_arity</a>
              <a href="{{ .Site.BaseURL }}/tags/rspec-pending_for">rspec-pending_for</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">S to Z</a>
          <ul class="dl-submenu">
            <li>
              <a href="{{ .Site.BaseURL }}/tags/sanitize_email">sanitize_email</a>
              <a href="{{ .Site.BaseURL }}/tags/status_tag">status_tag</a>
              <a href="{{ .Site.BaseURL }}/tags/strict_states">strict_states</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}/bash">Bash Projects</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}/javascript">Javascript Projects</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}/retired_projects">Retired Projects</a>
    </li>
    <li>
      <a href="#">Humanitarian Projects</a>
      <ul class="dl-submenu">
        <li>
          <a href="{{ .Site.BaseURL }}/refugees">Refugees</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Science Projects</a>
      <ul class="dl-submenu">
        <li>
          <a href="http://wordtree.org">WordTree Foundation</a>
        </li>
      </ul>
    </li>
  </ul>
</div><!-- /dl-menuwrapper -->
